In [12]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests as r
import time as dt
import sqlalchemy
from datetime import datetime, timedelta

In [22]:
url = 'https://rest.coinapi.io/v1/quotes/HBDM_PERP_DOGE_USD/latest'
headers = {'X-CoinAPI-Key' : '64446BC7-8FF8-4090-89CD-5158CCF7D7B6'}
response = requests.get(url, headers=headers).json()
response

{'error': 'Requested symbol_id is invalid does not exists.'}

In [3]:
data_df=pd.DataFrame(response)
data_df

,symbol_id,time_exchange,time_coinapi,ask_price,ask_size,bid_price,bid_size
0,DERIBIT_OPT_BTC_USD_210730_30000_P,2021-05-22T15:09:36.2269689Z,2021-05-22T15:09:36.2276952Z,1.140000e-01,12.7000,1.100000e-01,25.20
1,DERIBIT_OPT_BTC_USD_210523_37000_P,2021-05-22T15:09:36.2240520Z,2021-05-22T15:09:36.2278205Z,2.500000e-02,25.8000,2.250000e-02,17.70
2,DERIBIT_OPT_BTC_USD_210523_33000_P,2021-05-22T15:09:36.2239571Z,2021-05-22T15:09:36.2258243Z,6.500000e-03,29.1000,5.000000e-03,17.00
3,DERIBIT_OPT_BTC_USD_220325_40000_P,2021-05-22T15:09:36.2182899Z,2021-05-22T15:09:36.2279978Z,3.895000e-01,2.0000,3.670000e-01,4.00
4,DERIBIT_OPT_BTC_USD_210604_40000_P,2021-05-22T15:09:36.2182775Z,2021-05-22T15:09:36.2267464Z,1.940000e-01,0.4000,1.290000e-01,15.00
...,...,...,...,...,...,...,...
95,CURRENCYCOM_SPOT_BCH_BTC,2021-05-22T15:09:36.1000000Z,2021-05-22T15:09:36.1620720Z,1.763000e-02,30.0000,1.752000e-02,30.00
96,BTSE_SPOT_LINK_PAX,2021-05-22T15:09:36.0970327Z,2021-05-22T15:09:36.0973687Z,2.442000e+01,210.8600,2.431300e+01,144.06
97,BITMAX_SPOT_SRM_USDT,2021-05-22T15:09:36.0970000Z,2021-05-22T15:09:36.2570125Z,4.971650e+00,37.0000,4.954480e+00,69.00
98,DRAGONEX_SPOT_BTC2S_DC,2021-05-22T15:09:36.0930418Z,2021-05-22T15:09:36.0931628Z,1.057160e+00,20.0000,9.394400e-01,20.00
99,QUOINE_SPOT_BTC_GYEN,2021-05-22T15:09:36.0912223Z,2021-05-22T15:09:36.0912223Z,4.094518e+06,0.0119,4.075669e+06,0.05

In [4]:
doge_df = data_df[data_df['symbol_id'] == 'HBDM_PERP_DOGE_USD'] 
doge_df

Empty DataFrame
Columns: [symbol_id, time_exchange, time_coinapi, ask_price, ask_size, bid_price, bid_size]
Index: []

In [21]:
price_doge=response[0]
price_doge

{'symbol_id': 'HBDM_PERP_DOGE_USD',
 'time_exchange': '2021-05-22T12:23:21.5853922Z',
 'time_coinapi': '2021-05-22T12:23:21.5853922Z',
 'ask_price': 0.352171,
 'ask_size': 530.0,
 'bid_price': 0.35217,
 'bid_size': 1750.0}

In [18]:
btc_df=data_df[data_df['symbol_id']=='HBDM_FTS_BTC_USD_210528']
btc_df

Empty DataFrame
Columns: [symbol_id, time_exchange, time_coinapi, ask_price, ask_size, bid_price, bid_size]
Index: []

In [7]:
price_btc=response[30]

In [8]:
a_dic={'doge':price_doge,'btc':price_btc}
a_dic

{'doge': {'symbol_id': 'BTSE_SPOT_ATOM_TUSD',
  'time_exchange': '2021-05-22T15:09:36.1418323Z',
  'time_coinapi': '2021-05-22T15:09:36.1445485Z',
  'ask_price': 12.997,
  'ask_size': 360.7,
  'bid_price': 12.65,
  'bid_size': 927.1},
 'btc': {'symbol_id': 'DRAGONEX_SPOT_DOGE_USDT',
  'time_exchange': '2021-05-22T15:09:36.1626738Z',
  'time_coinapi': '2021-05-22T15:09:36.1627880Z',
  'ask_price': 0.355945,
  'ask_size': 408.0,
  'bid_price': 0.322642,
  'bid_size': 36.0}}

In [9]:
crypto_df=pd.DataFrame(a_dic)
crypto_df

                                       doge                           btc
symbol_id               BTSE_SPOT_ATOM_TUSD       DRAGONEX_SPOT_DOGE_USDT
time_exchange  2021-05-22T15:09:36.1418323Z  2021-05-22T15:09:36.1626738Z
time_coinapi   2021-05-22T15:09:36.1445485Z  2021-05-22T15:09:36.1627880Z
ask_price                            12.997                      0.355945
ask_size                              360.7                           408
bid_price                             12.65                      0.322642
bid_size                              927.1                            36

In [13]:
crypto_df.to_csv('./crypto_df.csv',index=False)

In [16]:
engine=sqlalchemy.create_engine('sqlite:///crypto_df',echo=True)
sqlite_connection=engine.connect()

2021-05-22 10:16:29,778 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-22 10:16:29,782 INFO sqlalchemy.engine.base.Engine ()
2021-05-22 10:16:29,784 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-22 10:16:29,785 INFO sqlalchemy.engine.base.Engine ()

In [17]:
sqlite_table="CryptoLife"
crypto_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-05-22 10:19:13,161 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("CryptoLife")
2021-05-22 10:19:13,162 INFO sqlalchemy.engine.base.Engine ()
2021-05-22 10:19:13,165 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("CryptoLife")
2021-05-22 10:19:13,166 INFO sqlalchemy.engine.base.Engine ()
2021-05-22 10:19:13,170 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "CryptoLife" (
	"index" TEXT,
	doge TEXT,
	btc TEXT
)


2021-05-22 10:19:13,172 INFO sqlalchemy.engine.base.Engine ()
2021-05-22 10:19:13,179 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-22 10:19:13,181 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_CryptoLife_index" ON "CryptoLife" ("index")
2021-05-22 10:19:13,182 INFO sqlalchemy.engine.base.Engine ()
2021-05-22 10:19:13,189 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-22 10:19:13,196 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-22 10:19:13,199 INFO sqlalchemy.engine.base.Engine INSERT INTO "CryptoLife" ("index", doge, btc) VALUES (?, ?, ?)
2021-05-22 10:19:13,200 INFO sqlalchemy.engine.base.Engine (('symbol_id', 'BTSE_SPOT_ATOM_TUSD', 'DRAGONEX_SPOT_DOGE_USDT'), ('time_exchange', '2021-05-22T15:09:36.1418323Z', '2021-05-22T15:09:36.1626738Z'), ('time_coinapi', '2021-05-22T15:09:36.1445485Z', '2021-05-22T15:09:36.1627880Z'), ('ask_price', 12.997, 0.355945), ('ask_size', 360.7, 408.0), ('bid_price', 12.65, 0.322642), ('bid_size', 927.1, 36.0))
2021-05-22 10:19:13,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-22 10:19:13,299 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-22 10:19:13,302 INFO sqlalchemy.engine.base.Engine ()